/* Estilo geral */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333; /* Mudando a cor do texto para um tom de cinza mais profissional */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f4f4f4; /* Mesma cor da sidebar */
  color: #000; /* Cor do texto do logo para preto */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adiciona sombra para destaque */
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212529; /* Troca a cor do texto do logo para #212529 */
  text-decoration: none;
}

.logo a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0.5; /* Reduzindo a largura da barra de pesquisa pela metade */
  margin: 0 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-button mat-icon {
  font-size: 1.2rem; /* Aumentando o tamanho do ícone */
  color: #333;
}

.search-button:hover {
  background-color: #e8e8e8;
}

.logout {
  display: flex;
  align-items: center;
}

.logout button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  display: block;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: 1.2rem;
  margin: 0;
}

.card-content p {
  font-size: 0.9rem;
  color: #666;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  .logout {
    margin-top: 10px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .card-content h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .search-input {
    font-size: 0.9rem;
  }

  .search-button {
    font-size: 0.9rem;
  }

  .card-content p {
    font-size: 0.8rem;
  }
}
