/* Estilo geral */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333; /* Mudando a cor do texto para um tom de cinza mais profissional */
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f4f4f4; /* Mesma cor da sidebar */
  color: #000; /* Cor do texto do logo para preto */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adiciona sombra para destaque */
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212529; /* Troca a cor do texto do logo para #212529 */
  text-decoration: none;
}

.logo a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0.5; /* Reduzindo a largura da barra de pesquisa pela metade */
  margin: 0 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-button mat-icon {
  font-size: 1.2rem; /* Aumentando o tamanho do ícone */
  color: #333;
}

.search-button:hover {
  background-color: #e8e8e8;
}

.logout {
  display: flex;
  align-items: center;
}

.logout button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.container {
  display: flex;
  margin-top: 60px; /* Compensa a altura da navbar fixa */
  padding: 20px;
}

.sidebar {
  position: fixed; /* Torna a sidebar fixa */
  top: 60px; /* Compensa a altura da navbar fixa */
  width: 220px;
  padding: 20px;
  background-color: #f4f4f4;
  height: calc(100vh - 60px); /* Estende a sidebar até o fim da tela */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Adiciona uma sombra para dar destaque */
  overflow-y: auto; /* Adiciona barra de rolagem na sidebar se necessário */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px; /* Aumenta o espaçamento entre os itens */
}

.sidebar ul li button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding: 12px; /* Aumenta o padding dos botões */
  font-size: 16px; /* Aumenta o tamanho da fonte */
}

.sidebar ul li button .mat-icon {
  font-size: 24px; /* Aumenta o tamanho dos ícones */
  margin-right: 15px; /* Aumenta o espaçamento entre ícone e texto */
  min-width: 30px; /* Garante que o ícone não seja cortado */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; /* Fundo branco para o conteúdo principal */
  overflow-y: auto; /* Permite rolar o conteúdo principal se necessário */
  margin-left: 240px; /* Compensa a largura da sidebar fixa */
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  display: block;
}

.card-content {
  padding: 15px;
}

.views {
  color: #888;
  font-size: 14px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  .logout {
    margin-top: 10px;
  }

  .container {
    flex-direction: column;
    margin-top: 80px; /* Compensa a altura da navbar fixa */
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    top: 0;
  }

  .main-content {
    margin-left: 0;
    margin-top: 20px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .card-content h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  .logout {
    margin-top: 10px;
    width: 100%;
    justify-content: flex-end;
  }

  .container h1 {
    font-size: 1.2rem;
  }

  .card-content p {
    font-size: 0.9rem;
  }
}
