<div class="login-container">
  <h2>Login to Your Account</h2>
  <button (click)="loginWithFacebook()" class="btn btn-facebook">Continue with Facebook</button>
  <button (click)="loginWithGoogle()" class="btn btn-google">Continue with Google</button>
  <div class="separator">or</div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input formControlName="email" type="email" placeholder="Email" />
    <input formControlName="password" type="password" placeholder="Password" />
    <button type="submit" class="btn btn-login">Login</button>
  </form>
  <div class="links">
    <a routerLink="/forgot-password">Forgot Password?</a>
    <a routerLink="/create-account">Create Account</a>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
