<div class="container">
  <div class="sidebar">
    <ul>
      <li>
        <button mat-button routerLink="/home" class="active">
          <mat-icon>home</mat-icon>
          Início
        </button>
      </li>
      <li>
        <button mat-button routerLink="/login">
          <mat-icon>person</mat-icon>
          Login
        </button>
      </li>
      <li>
        <button mat-button routerLink="/video-display">
          <mat-icon>movie</mat-icon>
          Exibição de Vídeo
        </button>
      </li>
      <li>
        <button mat-button routerLink="/favorites">
          <mat-icon>star</mat-icon>
          Favoritos
        </button>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <div class="search-bar">
      <input matInput type="text" placeholder="Search Videos" />
    </div>
    <div class="videos">
      <div *ngFor="let video of videos" class="card">
        <img [src]="video.thumbnail" [alt]="video.title" />
        <div class="card-content">
          <h3>{{ video.title }}</h3>
          <p>{{ video.description }}</p>
          <p class="views">
            {{ video.views | number }} visualizações •
            {{ video.uploadedAt | date:'mediumDate' }}
          </p>
          <button mat-button color="primary" [routerLink]="['/video', video.id]">Ver Detalhes</button>
        </div>
      </div>
    </div>
  </div>
</div>

